<html>
  <head>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <meta charset="UTF-8">


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="/dashboard.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="icon" href="https://cdn.discordapp.com/avatars/512712219398766613/affd41944272e88844098ed99431dc03.png?size=1024">

<script src="/main.js" defer></script>
<meta name="theme-color" content="#AB8700">
<link rel="og:image" content="https://cdn.discordapp.com/avatars/512712219398766613/affd41944272e88844098ed99431dc03.png?size=1024">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200">


<title>Ezex - Dashboard</title>
  </head>
    
  <body>
    
  <style>
    .user-info {
  
  display: inline-block;
  color: white;
  width: 300px;
  border-radius: 12px;
  margin: 1pc;
}
    
    input{
    
  outline: 0;
  border: 0;
  
}
@import url("https://fonts.googleapis.com/earlyaccess/notokufiarabic.css");button[class~=btn]{padding-left:37.5pt !important;}[class~=alert-box]{padding-left:11.25pt;}[class~=alert-box]{padding-bottom:11.25pt;}[class~=alert-box]{padding-right:11.25pt;}button[class~=btn]:hover{cursor:pointer !important;}[class~=alert-box]{padding-top:11.25pt;}[class~=alert-box]{margin-bottom:.208333333in;}[class~=alert-box]{border-left-width:.0625pc;}[class~=alert-box]{border-bottom-width:.0625pc;}[class~=alert-box]{border-right-width:.0625pc;}button[class~=btn]:hover{transform:translateY(-3px) !important;}.heading .title{font-size:2.5pc !important;}[class~=alert-box]{border-top-width:.0625pc;}button[class~=btn]:hover{transform-style:preserve-3d;}[class~=alert-box]{border-left-style:solid;}[class~=alert-box]{border-bottom-style:solid;}[class~=alert-box]{border-right-style:solid;}[class~=alert-box]{border-top-style:solid;}*{box-sizing:border-box;}input:checked + [class~=slider]:before{-webkit-transform:translateX(26px);}.heading .title{color:#f1f6ff !important;}[class~=alert-box]{border-left-color:transparent;}button[class~=btn]{padding-bottom:.104166667in !important;}[class~=alert-box]{border-bottom-color:transparent;}button[class~=btn]:hover{transform-origin:top;}[class~=alert-box]{border-right-color:transparent;}[class~=alert-box]{border-top-color:transparent;}[class~=heading],button[class~=btn]{padding-right:37.5pt !important;}[class~=alert-box]{border-image:none;}button[class~=btn]{padding-top:.104166667in !important;}[class~=alert-box]{border-radius:.041666667in;}button[class~=btn]:hover{opacity:.9 !important;}[class~=success]{color:#3c763d;}[class~=success]{background-color:#dff0d8;}.heading .title{line-height:.729166667in !important;}[class~=success]{border-left-color:#d6e9c6;}[class~=nav-link]:hover{color:red;}[class~=success]{border-bottom-color:#d6e9c6;}[class~=success]{border-right-color:#d6e9c6;}input:checked + [class~=slider]:before{-ms-transform:translateX(26px);}[class~=success]{border-top-color:#d6e9c6;}button[class~=btn]{border-radius:3.75pt !important;}[class~=success]{display:none;}[class~=card],button[class~=btn]{margin-top:40px !important;}[class~=heading]{padding-left:37.5pt !important;}button[class~=btn]{font-family:"Noto Kufi Arabic",sans-serif;}[class~=heading]{padding-bottom:210pt !important;}[class~=nav-link]:hover{transition:all ease-out .2999s;}[class~=heading]{padding-top:210pt !important;}button[class~=btn]{font-size:1pc !important;}[class~=navbar]{background-color:transparent;}button[class~=btn][class~=primary]{background-color:#36393f !important;}[class~=navbar]{border-radius:0pc;}[class~=navbar]{padding-top:.166666667in;}[class~=navbar]{padding-left:16.8pt;}button[class~=btn]{transition:ease-in .3s !important;}body{background-color:#1a1a1a;}button[class~=btn]{box-shadow:.010416667in 10px 15px #212326;}#sssesesesesee{color:#868686;}button[class~=btn]{margin-right:5px !important;}.features .title{font-size:2.5pc !important;}[class~=nav-link]{color:white;}button[class~=btn]{margin-left:.052083333in !important;}button[class~=btn]{border-left-width:.75pt !important;}[class~=nav-item]{padding-right:.166666667in;}button[class~=btn]{border-bottom-width:.75pt !important;}button[class~=btn][class~=primary],.features .title{color:#f1f6ff !important;}[class~=features],[class~=start],.footer{text-align:center !important;}button[class~=btn]{border-right-width:.75pt !important;}button[class~=btn]{border-top-width:.75pt !important;}[class~=features]{background:linear-gradient(to right,#6c4ef6 50%,#7f2bef 50%);}[class~=features]{padding-left:.520833333in !important;}[class~=features],[class~=card],[class~=start]{padding-bottom:45pt !important;}[class~=features]{padding-right:.520833333in !important;}button[class~=btn]{border-left-style:solid !important;}[class~=features],[class~=start],[class~=card]{padding-top:45pt !important;}button[class~=btn]{border-bottom-style:solid !important;}button[class~=btn]{border-right-style:solid !important;}button[class~=btn]{border-top-style:solid !important;}body{font-family:"Poppins",sans-serif !important;}[class~=card]{padding-left:15pt !important;}[class~=card]{padding-right:15pt !important;}#sssesesesesee{text-decoration:none;}[class~=card]{background:#1e212c !important;}button[class~=btn]{border-left-color:transparent !important;}[class~=card]{margin-bottom:30pt !important;}button[class~=btn]{border-bottom-color:transparent !important;}[class~=card]{border-radius:.3125pc !important;}button[class~=btn]{border-right-color:transparent !important;}[class~=start]{background:linear-gradient(to right,rgba(27,23,54,.87) 0%,rgba(33,37,80,.91) 100%);}[class~=start]{padding-left:.520833333in !important;}button[class~=btn]{border-top-color:transparent !important;}button[class~=btn]{border-image:none !important;}button,button:hover,button:active,button:focus{outline:none !important;}input:checked + [class~=slider]:before{transform:translateX(26px);}[class~=start]{padding-right:.520833333in !important;}.features .title{line-height:70px !important;}[class~=footer] a{color:#1e212c !important;}.footer{padding-left:.0625in !important;}.footer{padding-bottom:.3125pc !important;}.footer{padding-right:.0625in !important;}[class~=footer] a{text-decoration:none !important;}[class~=footer] a{font-weight:bold !important;}.footer{padding-top:.3125pc !important;}.footer{color:#ecf2ff;}.footer{font-size:10.5pt !important;}#sssesesesesee:hover{color:#a5a5a5;}[class~=guild-icon]{border-radius:50%;}[class~=switch] input{opacity:0;}button[class~=btn][class~=secondary]{background-color:#1a1c20;}[class~=switch] input{width:0;}[class~=switch] input{height:0;}.slider:before{position:absolute;}[class~=guild-icon],[class~=guild-icon1]{box-shadow:0 1px .104166667in 0 rgba(0,0,0,.2),0 5px 1.25pc 0 rgba(0,0,0,.22) !important;}[class~=features] [class~=subtitle]{font-size:20px !important;}.slider:before{content:"";}[class~=features] [class~=subtitle]{color:#d0d7ee;}[class~=switch]{position:relative;}[class~=switch]{display:inline-block;}.slider:before{height:1.625pc;}[class~=switch]{width:.625in;}[class~=switch]{height:25.5pt;}.slider:before{width:19.5pt;}[class~=card] [class~=title]{font-size:.3125in !important;}[class~=slider]{position:absolute;}[class~=slider]{cursor:pointer;}[class~=slider]{top:0;}.slider:before{left:.041666667in;}.slider:before{bottom:.041666667in;}[class~=slider]{left:0;}[class~=slider]{right:0;}.slider:before{background-color:white;}[class~=slider]{bottom:0;}[class~=slider]{background-color:#ccc;}.slider:before,[class~=slider]{-webkit-transition:.4s;}.slider:before,[class~=slider]{transition:.4s;}[class~=tab] button{background-color:inherit;}.guild-icon{display:table;}.guild-icon{float:left;}[class~=tab] button{text-align:center;}.guild-icon{margin-left:16px;}.guild-icon{margin-bottom:19.2px;}.header-title{font-weight:bold;}[class~=button-invite]{border-radius:.125in;}[class~=button-invite]{background:#be2927;}[class~=tab] button,[class~=button-invite]{border-left-width:medium;}[class~=button-invite]{background:linear-gradient(90deg,rgba(190,41,39,1) 8%,rgba(255,0,66,1) 100%);}[class~=tab] button{border-bottom-width:.75pt;}button[class~=btn][class~=secondary]{color:#f3fcff;}[class~=card] [class~=title]{color:#dfe6ff !important;}input:checked + [class~=slider]{background-color:#22bf41;}[class~=button-invite]{border-bottom-width:medium;}[class~=button-invite],[class~=tab] button{border-right-width:medium;}[class~=tab] button,[class~=button-invite]{border-top-width:medium;}[class~=button-invite],[class~=tab] button{border-left-style:none;}[class~=button-invite]{border-bottom-style:none;}[class~=tab] button,[class~=button-invite]{border-right-style:none;}[class~=button-invite],[class~=tab] button{border-top-style:none;}[class~=tab] button,[class~=button-invite]{border-left-color:currentColor;}[class~=button-invite]{border-bottom-color:currentColor;}[class~=button-invite],[class~=tab] button{border-right-color:currentColor;}[class~=card] [class~=subtitle]{font-size:.15625in !important;}[class~=tab] button,[class~=button-invite]{border-top-color:currentColor;}[class~=tab] button{border-bottom-style:solid;}[class~=button-invite]{border-image:none;}[class~=button-invite]{padding-left:.052083333in;}option{background-color:#1e212c;}[class~=button-invite]{padding-bottom:.052083333in;}[class~=button-invite]{padding-right:.052083333in;}[class~=card] [class~=subtitle]{color:#d0d7ee;}[class~=button-invite]{padding-top:.052083333in;}[class~=button-invite]{width:112.5pt;}input:focus + [class~=slider]{}[class~=tab] button{border-bottom-color:#ff0002;}[class~=button-invite],[class~=tab] button{color:white;}[class~=jumbotron]{height:300pt;}[class~=uk-subnav]{text-transform:capitalize;}::-webkit-scrollbar-thumb:hover{background:#a10608;}[class~=desc]{font-size:.177083333in;}[class~=desc]{color:grey;}[class~=tab] button{border-image:none;}[class~=desc]{margin-left:7.5pt;}[class~=slider][class~=round]:before{border-radius:50%;}.tab{overflow:hidden;}.tab{width:100%;}.tab{margin-bottom:16px;}[class~=tab] button{outline:none;}[class~=tab] button:hover{border-top-left-radius:9pt;}[class~=tab] button{cursor:pointer;}.tabcontent{display:none;}[class~=start] [class~=card]{background:rgba(96,100,166,.41) !important;}.tabcontent{padding-left:.75pc;}.tabcontent{padding-bottom:4.5pt;}[class~=tab] button{padding-left:12pt;}code{background-color:#353842;}[class~=tab] button{padding-bottom:.875pc;}[class~=tab] button{padding-right:12pt;}[class~=tab] button{padding-top:.875pc;}[class~=tab] button:hover{border-top-right-radius:12px;}[class~=tab] button{width:15%;}.tabcontent{padding-right:.75pc;}[class~=tab] button{margin-left:12pt;}.tabcontent{padding-top:4.5pt;}.tabcontent{border-top-width:medium;}[class~=tab] button{margin-bottom:12pt;}.tabcontent{border-top-style:none;}.tabcontent{border-top-color:currentColor;}::-webkit-scrollbar{width:1.6666px;}[class~=tab] button{margin-right:12pt;}[class~=tab] button{margin-top:12pt;}.tabcontent{border-image:none;}[class~=slider][class~=round]{border-radius:2.125pc;}[class~=tab] button[class~=active],[class~=tab] button:hover{background-color:#323332;}[class~=tab] button[class~=active],[class~=tab] button:hover{transition:all ease-out .111s;}::-webkit-scrollbar-track{background:#0f0f0f;}[class~=tab] button[class~=active]{border-radius:.75pc;}[class~=tab] button[class~=active]{border-bottom-width:0in;}::-webkit-scrollbar-thumb{background:#ff0002;}[class~=tab] button[class~=active]{border-bottom-style:none;}[class~=tab] button[class~=active]{border-bottom-color:currentColor;}[class~=tab] button[class~=active]{border-image:none;}::-webkit-scrollbar-thumb{border-radius:25px;}#guild-icon:hover{border-radius:0;}@media only screen and (max-width: 768px){[class~=tab] button{background-color:inherit;}[class~=tab]{overflow:hidden;}[class~=tab]{width:100%;}[class~=tab] button{text-align:center;}[class~=tab] button:hover{border-top-left-radius:.75pc;}[class~=tab] button{border-left-width:medium;}[class~=tab] button{border-bottom-width:.75pt;}[class~=tab] button:hover{border-top-right-radius:.125in;}.tab button.active,[class~=tab] button:hover{background-color:#323332;}[class~=tab] button{border-right-width:medium;}.tab button.active,[class~=tab] button:hover{transition:all ease-out .111s;}.tab button.active{border-radius:12px;}[class~=tab] button,[class~=tabcontent]{border-top-width:medium;}[class~=tab] button{border-left-style:none;}[class~=tab] button{border-bottom-style:solid;}[class~=tab] button{border-right-style:none;}[class~=tab]{margin-bottom:1pc;}[class~=tabcontent],[class~=tab] button{border-top-style:none;}[class~=tabcontent]{display:none;}.tab button.active{border-bottom-width:0pt;}.tab button.active{border-bottom-style:none;}[class~=tab] button{border-left-color:currentColor;}[class~=tab] button{border-bottom-color:#ff0002;}[class~=tab] button{border-right-color:currentColor;}[class~=tab] button,[class~=tabcontent]{border-top-color:currentColor;}[class~=tab] button,[class~=tabcontent]{border-image:none;}[class~=tab] button{outline:none;}[class~=tab] button{cursor:pointer;}[class~=tab] button{padding-left:1pc;}[class~=tab] button{padding-bottom:.875pc;}[class~=tab] button{padding-right:1pc;}.tab button.active{border-bottom-color:currentColor;}[class~=tabcontent]{padding-left:.125in;}[class~=tabcontent]{padding-bottom:6px;}[class~=tab] button{padding-top:.875pc;}[class~=tab] button{width:25%;}[class~=tabcontent]{padding-right:.125in;}[class~=tabcontent]{padding-top:6px;}[class~=tab] button{color:white;}[class~=tab] button{margin-left:12pt;}[class~=tab] button{margin-bottom:12pt;}.tab button.active{border-image:none;}[class~=tab] button{margin-right:12pt;}[class~=tab] button{margin-top:12pt;}}[class~=tab2] button{display:block;}textarea,.btn:focus{outline:none;}[class~=tab2]{float:right;}textarea,[class~=tab2] button{border-left-width:medium;}[class~=tab2] button,textarea{border-bottom-width:medium;}[class~=tab2]{border-left-width:.75pt;}[class~=tab2] button{background-color:inherit;}textarea{border-right-width:0in;}[class~=tab2]{border-bottom-width:.75pt;}textarea,[class~=tab2] button{border-top-width:medium;}[class~=tab2] button{color:white;}[class~=tab2] button{padding-left:.166666667in;}[class~=tab2] button{padding-bottom:16.5pt;}textarea,[class~=tab2] button{border-left-style:none;}textarea,[class~=tab2] button{border-bottom-style:none;}[class~=tab2]{border-right-width:.75pt;}textarea,[class~=tab2] button{border-right-style:none;}[class~=tab2]{border-top-width:.75pt;}[class~=tab2] button{padding-right:.166666667in;}[class~=tab2] button{padding-top:16.5pt;}[class~=tab2]{border-left-style:solid;}textarea,[class~=tab2] button{border-top-style:none;}textarea,[class~=tab2] button{border-left-color:currentColor;}[class~=tab2]{border-bottom-style:solid;}textarea,[class~=tab2] button{border-bottom-color:currentColor;}[class~=tab2] button{width:100%;}textarea,[class~=tab2] button{border-right-color:currentColor;}[class~=tab2]{border-right-style:solid;}[class~=tab2]{border-top-style:solid;}[class~=tab2] button,textarea{border-top-color:currentColor;}textarea{border-image:none;}input{outline:0;}input,[class~=tab2]{background:transparent;}input{width:50%;}input{border-left-width:0;}[class~=tab2] button,.btn:focus{border-right-width:medium;}input{border-bottom-width:1px;}input{border-right-width:0;}input{border-top-width:0;}[class~=tab2]{border-left-color:transparent;}[class~=tab2]{border-bottom-color:transparent;}input{border-left-style:none;}input{border-bottom-style:solid;}[class~=tab2]{border-right-color:transparent;}input{border-right-style:none;}input{border-top-style:none;}input{border-left-color:currentColor;}.btn:focus{border-left-width:medium;}[class~=tab2] button{border-image:none;}input,input:focus{border-bottom-color:#ff0002;}input{border-right-color:currentColor;}[class~=tab2] button{outline:none;}input{border-top-color:currentColor;}input{border-image:none;}[class~=tab2] button{text-align:left;}[class~=tab2]{border-top-color:transparent;}[class~=tab2]{border-image:none;}[class~=tab2] button{cursor:pointer;}input{margin-left:0;}[class~=tab2]{width:30%;}input{margin-bottom:.15625in;}[class~=tab2]{min-height:277.5pt;}input{margin-right:0;}[class~=tab2]{margin-bottom:100px;}[class~=tab2]{box-shadow:0 .25pc .5pc 0 rgba(0,0,0,.2);}[class~=tab2] button{transition:.3s;}input{margin-top:0;}input{padding-left:.15625in;}.btn:focus{border-bottom-width:medium;}input{padding-bottom:.15625in;}input{padding-right:.15625in;}input{padding-top:.15625in;}[class~=tab2] button{font-size:20px;}[class~=tab2] button{margin-top:.104166667in;}.tab3,.tab2 button:hover{background-color:#141618;}[class~=tabcontent2]{margin-top:11.25pc;}input{box-sizing:border-box;}select,input:focus{border-bottom-width:.0625pc;}.btn:focus{border-top-width:medium;}input{font-size:12pt;}[class~=tabcontent2]{text-align:center;}input{border-radius:.03125pc;}[class~=tabcontent2]{padding-left:9pt;}input:disabled,input:focus,[class~=tabcontent2],input{color:white;}[class~=tabcontent2]{padding-bottom:0pc;}[class~=tabcontent2]{padding-right:9pt;}input:focus,select{border-bottom-style:solid;}select{outline:0;}select{background:transparent;}[class~=tabcontent2]{padding-top:0pc;}[class~=tabcontent2]{width:70%;}input:focus{border-image:none;}select{width:50%;}[class~=tabcontent2]{border-left-width:medium;}select{border-left-width:0;}.btn:focus,[class~=tabcontent2],select{border-left-style:none;}select,[class~=tabcontent2]{border-left-color:currentColor;}input:disabled{opacity:.5;}[class~=tabcontent2]{border-image:none;}input:disabled{border-bottom-width:1px;}select{border-right-width:0;}[class~=tabcontent2]{height:50pc;}.none-display,[class~=tabcontent2]{display:none;}select{border-top-width:0;}.uk-notification{background:transparent !important;}.btn:focus{border-bottom-style:none;}[class~=card1]{box-shadow:0 4px .083333333in 0 rgba(0,0,0,.2);}[class~=card1]{max-width:1000px;}select,.btn:focus{border-right-style:none;}input:disabled{border-bottom-style:solid;}[class~=card1]{margin-left:auto;}input:disabled,select{border-bottom-color:#ff0002;}input:disabled{border-image:none;}select,.btn:focus{border-top-style:none;}[class~=card1]{margin-bottom:auto;}select:focus{border-bottom-width:.0625pc;}select:focus{border-bottom-style:solid;}.btn:focus,select{border-right-color:currentColor;}[class~=card1]{margin-right:auto;}.btn:focus,select{border-top-color:currentColor;}select{border-image:none;}select{margin-left:0;}select{margin-bottom:.9375pc;}textarea,select:focus{border-bottom-color:#ff0002;}select{margin-right:0;}select{margin-top:0;}[class~=card1]{margin-top:auto;}[class~=card1]{text-align:center;}select:focus{border-image:none;}[class~=card1]{font-family:arial;}[class~=owner-img]{width:8pc;}textarea,select{padding-left:.15625in;}textarea,select,textarea:focus,select:focus{color:white;}.btn:focus,textarea{border-left-color:currentColor;}select,textarea{padding-bottom:.15625in;}.btn:focus{border-bottom-color:currentColor;}select,textarea{padding-right:.15625in;}textarea,select{padding-top:.15625in;}textarea,textarea:focus,select:focus{outline:0;}textarea,select{box-sizing:border-box;}[class~=owner-img]{height:1.333333333in;}select,textarea{font-size:1pc;}[class~=owner-text]{font-size:2.1875pc;}textarea,select{border-radius:.5px;}[class~=owner-status]{position:absolute;}[class~=owner-status]{right:97.5pt;}textarea:focus,textarea{border-bottom-width:.0625pc;}textarea{background:transparent;}textarea{width:50%;}textarea{border-left-width:0;}[class~=owner-status]{top:100px;}[class~=owner-status]{width:18.75pt;}textarea,textarea:focus{border-bottom-style:solid;}textarea{border-right-width:0;}textarea{border-top-width:0;}textarea:focus{border-bottom-color:#ff0002;}textarea{border-left-style:none;}textarea{border-right-style:none;}textarea:focus,.btn:focus{border-image:none;}[class~=owner-status]{display:block;}textarea{border-top-style:none;}.col-sm-4{margin-bottom:240pt;}textarea{border-right-color:currentColor;}textarea{border-top-color:currentColor;}textarea{border-image:none;}textarea{margin-left:0;}textarea{margin-bottom:.9375pc;}textarea{margin-right:0;}textarea{margin-top:0;}option{border-radius:.75pc;}option{padding-left:.125in;}@media only screen and (max-width: 768px){[class~=guild-name]{font-size:15pt;}[class~=server-details]{font-size:.955pc;}[class~=owner-img]{width:54pt;}[class~=owner-img]{height:4.5pc;}[class~=owner-text]{font-size:.208333333in;}[class~=owner-status]{position:absolute;}[class~=owner-status]{right:13.4375pc;}[class~=owner-status]{top:55px;}[class~=owner-status]{width:15px;}[class~=owner-status]{display:none;}[class~=col-sm-4]{margin-bottom:1.25pc;}#features{margin-top:6.25pc;}}@media only screen and (max-width: 1200px){[class~=owner-status]{position:absolute;}[class~=owner-status]{right:13.4375pc;}[class~=owner-status]{top:.572916667in;}[class~=owner-status]{width:.15625in;}[class~=owner-status]{display:none;}}.server-details{font-size:px;}[class~=user-info]{display:inline-block;}[class~=invite-btn],[class~=invite-btn]:hover,[class~=user-info]{color:white;}[class~=user-info]{width:100%;}[class~=user-info],.prime-servers{border-radius:12px;}[class~=user-info]{margin-top:16px;}[class~=user-info]{box-shadow:0 2px 3pt 0 rgba(0,0,0,.2),0 .25pc 16px 0 rgba(0,0,0,.19);}[class~=user-info] code,[class~=prime-servers] code{background:transparent;}.prime-servers{background-image:url("https://cdn.discordapp.com/attachments/722578466335359096/728016280216666132/4.2.png");}.prime-servers{background-repeat:no-repeat;}[class~=invite-btn]:hover{background-color:#ff0002;}.prime-servers{height:100px;}.prime-servers{background-position:center;}.prime-servers{background-size:cover;}[class~=invite-btn]{background-color:transparent;}[class~=invite-btn]{border-left-width:.75pt;}[class~=invite-btn]{border-bottom-width:.75pt;}[class~=invite-btn]{border-right-width:.75pt;}[class~=invite-btn]:hover{text-decoration:none;}[class~=adv-title]:hover{color:#d3d3d3;}[class~=adv-title]:hover{transition:.5s;}[class~=invite-btn]{border-top-width:.75pt;}[class~=invite-btn]{border-left-style:solid;}[class~=invite-btn]{border-bottom-style:solid;}[class~=login-btn]:hover{background:#dabb0f !important;}[class~=invite-btn]{border-right-style:solid;}[class~=invite-btn]{border-top-style:solid;}[class~=invite-btn]{border-left-color:#ff0002;}[class~=invite-btn]{border-bottom-color:#ff0002;}[class~=invite-btn]{border-right-color:#ff0002;}[class~=invite-btn]{border-top-color:#ff0002;}[class~=invite-btn]{border-image:none;}[class~=invite-btn]{padding-left:.291666667in;}[class~=invite-btn]{padding-bottom:.125in;}[class~=invite-btn]{padding-right:.291666667in;}[class~=invite-btn]{padding-top:.125in;}[class~=invite-btn]{font-size:1pc;}[class~=invite-btn]{transition:.3s;}[class~=invite-btn]{border-radius:.0625in;}[class~=invite-btn]{margin-right:16px;}[class~=adv-item]{margin-bottom:4.6875pc;}[class~=adv-img],[class~=adv-item]{height:auto;}[class~=adv-item]{width:auto;}[class~=adv-item]{margin-right:96.75pt;}[class~=adv-item]{margin-left:8.0625pc;}[class~=adv-title]{margin-top:2.8125pc;}[class~=adv-title]{color:whitesmoke;}[class~=adv-title]{font-weight:bold;}[class~=login-btn]:active{background:#333 !important;}[class~=save-button]:hover{color:#fff !important;}.adv-desc{color:gainsboro;}.adv-desc{opacity:.5;}[class~=adv-img]{max-width:3.125in;}[class~=adv-img]{border-radius:6pt;}[class~=adv-img]{margin-top:11.25pt;}[class~=adv-img]{margin-bottom:15px;}[class~=save-button]:hover{background:#ff0002;}[class~=owner-img]{position:relative;}[class~=save-button]:hover,[class~=login-btn]{border-left-width:.020833333in !important;}[class~=save-button]:hover,[class~=login-btn]{border-bottom-width:.020833333in !important;}[class~=owner-img]{box-shadow:0 .041666667in 8px 0 rgba(0,0,0,.2),0 .375pc 20px 0 rgba(0,0,0,.19);}[class~=save-button]:hover,[class~=login-btn]{border-right-width:1.5pt !important;}[class~=login-btn],[class~=save-button]:hover{border-top-width:1.5pt !important;}[class~=save-button]:hover,[class~=login-btn]{border-left-style:solid !important;}[class~=login-btn],[class~=save-button]:hover{border-bottom-style:solid !important;}[class~=login-btn],[class~=save-button]:hover{border-right-style:solid !important;}[class~=login-btn],[class~=save-button]:hover{border-top-style:solid !important;}[class~=login-btn]{border-left-color:#dabb0f !important;}[class~=login-btn]{border-bottom-color:#dabb0f !important;}[class~=login-btn]{border-right-color:#dabb0f !important;}[class~=login-btn]{border-top-color:#dabb0f !important;}[class~=login-btn]{border-image:none !important;}[class~=login-btn]{font-size:.625pc !important;}[class~=save-button]{color:#fff !important;}[class~=save-button]{text-transform:uppercase;}[class~=save-button]{text-decoration:none;}[class~=save-button]{background:transparent;}[class~=save-button]{padding-left:.208333333in;}[class~=save-button]{padding-bottom:.104166667in;}[class~=save-button]{padding-right:1.25pc;}[class~=save-button]{padding-top:10px;}[class~=save-button]{border-left-width:.020833333in !important;}[class~=save-button]{border-bottom-width:.020833333in !important;}[class~=save-button]{border-right-width:.020833333in !important;}[class~=save-button]{border-top-width:.020833333in !important;}[class~=save-button]{border-left-style:solid !important;}[class~=save-button]{border-bottom-style:solid !important;}[class~=save-button]{border-right-style:solid !important;}[class~=save-button]{border-top-style:solid !important;}[class~=save-button]:hover,[class~=save-button]{border-left-color:#ff0002 !important;}[class~=save-button]:hover,[class~=save-button]{border-bottom-color:#ff0002 !important;}[class~=save-button],[class~=save-button]:hover{border-right-color:#ff0002 !important;}[class~=save-button]:hover,[class~=save-button]{border-top-color:#ff0002 !important;}[class~=save-button],[class~=save-button]:hover{border-image:none !important;}[class~=save-button]{border-radius:.083333333in;}[class~=save-button],[class~=save-button]:hover{transition:all .4s ease 0s;}[class~=save-button]{margin-top:11.25pt;}[class~=card-server]{padding-top:10px;}[class~=card-server]{padding-right:1.875pc;}[class~=card-server]{padding-left:1.875pc;}[class~=card-server]{padding-bottom:.625pc;}[class~=card-server]{border-left-width:.0625pc;}[class~=card-server]{border-bottom-width:.0625pc;}[class~=card-server]{border-right-width:.0625pc;}[class~=card-server]{border-top-width:.0625pc;}[class~=card-server]{border-left-style:solid;}[class~=card-server]{border-bottom-style:solid;}[class~=card-server]{border-right-style:solid;}[class~=card-server]{border-top-style:solid;}[class~=card-server]{border-left-color:#000;}[class~=card-server]{border-bottom-color:#000;}[class~=card-server]{border-right-color:#000;}[class~=card-server]{border-top-color:#000;}[class~=card-server]{border-image:none;}[class~=card-dashboard]{height:39%;}[class~=card-dashboard]{background:#1a1a1a;}[class~=card-dashboard]{width:17rem;}[class~=card-dashboard],.partner{display:inline-block;}[class~=card-dashboard]{margin-left:7.5pt;}[class~=card-dashboard]{margin-bottom:7.5pt;}[class~=card-dashboard]{margin-right:7.5pt;}[class~=card-dashboard]{margin-top:7.5pt;}[class~=card-dashboard]{border-radius:.260416667in;}[class~=card-dashboard]{border-left-width:.75pt;}[class~=card-dashboard]{border-bottom-width:.75pt;}[class~=card-dashboard]{border-right-width:.75pt;}[class~=card-dashboard]{border-top-width:.75pt;}[class~=card-dashboard]{border-left-style:solid;}[class~=card-dashboard]{border-bottom-style:solid;}[class~=card-dashboard]{border-right-style:solid;}[class~=card-dashboard]{border-top-style:solid;}[class~=card-dashboard]{border-left-color:#000;}[class~=card-dashboard]{border-bottom-color:#000;}[class~=card-dashboard]{border-right-color:#000;}[class~=card-dashboard]{border-top-color:#000;}[class~=card-dashboard]{border-image:none;}[class~=card-dashboard]{overflow:hidden;}[class~=card-dashboard]{white-space:nowrap;}[class~=card-dashboard]{text-overflow:ellipsis;}[class~=card-hr]{background:#505050;}[class~=card-hr]{margin-top:.3125in;}.banner-image,[class~=card-hr]{width:150px;}.partner{margin-left:12pt;}.dropdown-item:active{background-color:grey;}.partner{margin-bottom:12pt;}.partner{margin-right:12pt;}.partner{margin-top:12pt;}.banner{float:left;}.banner{color:white;}.banner{margin-left:.5in;}.banner{margin-top:.333333333in;}@media only screen and (max-width: 768px){.banner-image{width:5pc;}}#one [class~=flex-item][class~=right] div:first-child,#one [class~=flex-item][class~=left] div:first-child{padding-top:1em;}#one [class~=inner]{margin-bottom:2em;}#one [class~=flex-item]{display:-ms-flexbox;}#one [class~=flex-item]{display:-moz-flex;}#one [class~=flex-item]{display:-webkit-flex;}#one [class~=flex-item]{display:-ms-flex;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{-moz-align-self:-moz-flex-end;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-webkit-align-self:-webkit-flex-end;}#one [class~=flex-item]{display:flex;}#one [class~=flex-item][class~=left] div:last-child,#one [class~=flex-item][class~=right] div:last-child{-ms-align-self:-ms-flex-end;}#one [class~=flex-item],#one [class~=flex-item]{-ms-flex-wrap:wrap;}#one [class~=flex-item][class~=right] div:last-child,#one [class~=flex-item][class~=left] div:last-child{align-self:flex-end;}#one [class~=flex-item]{-ms-flex-pack:justify;}#one [class~=flex-item]{-moz-flex-wrap:wrap;}#one [class~=flex-item]{-webkit-flex-wrap:wrap;}#one [class~=flex-item]{flex-wrap:wrap;}#one [class~=flex-item]{-moz-justify-content:space-between;}#one [class~=flex-item]{-webkit-justify-content:space-between;}#one [class~=flex-item][class~=left] div p,#one .flex-item.right div p{margin-bottom:1em;}#one [class~=flex-item]{-ms-justify-content:space-between;}#one [class~=flex-item]{justify-content:space-between;}#one [class~=flex-item]{-moz-align-items:stretch;}#one [class~=flex-item]{-webkit-align-items:stretch;}#one [class~=flex-item]{-ms-align-items:stretch;}#one [class~=flex-item]{align-items:stretch;}@media screen and (max-width: 1280px){#one .flex-item.left div:first-child,#one [class~=flex-item][class~=right] div:first-child{padding-top:0;}#one [class~=flex-item][class~=left] div p,#one [class~=flex-item][class~=right] div p{margin-bottom:0;}}@media screen and (max-width: 980px){#one [class~=flex-item][class~=left] div:first-child,#one .flex-item.right div:first-child{padding-top:0;}#one [class~=flex-item][class~=left] div:last-child,#one .flex-item.right div:last-child{-moz-align-self:center;}#one .flex-item.right div:last-child,#one [class~=flex-item][class~=left] div:last-child{-webkit-align-self:center;}#one [class~=flex-item][class~=left] div p,#one [class~=flex-item][class~=right] div p{margin-bottom:2em;}#one [class~=flex-item]{-moz-flex-direction:column;}#one [class~=flex-item][class~=left] div:last-child,#one .flex-item.right div:last-child{-ms-align-self:center;}#one [class~=flex-item][class~=left] div:last-child,#one .flex-item.right div:last-child{align-self:center;}#one [class~=flex-item]{-webkit-flex-direction:column;}#one [class~=flex-item]{-ms-flex-direction:column;}#one [class~=flex-item][class~=right] br,#one [class~=flex-item][class~=left] br{display:none;}#one [class~=flex-item]{flex-direction:column;}#one [class~=flex-item]{text-align:center;}}#one .image.fit{margin-left:auto;}#one .image.fit{margin-bottom:2em;}#one .image.fit{margin-right:auto;}#one .image.fit{margin-top:0;}#one .image.fit{max-width:60%;}@media screen and (max-width: 980px){#one [class~=image][class~=fit]{margin-left:auto;}#one [class~=image][class~=fit]{margin-bottom:2em;}#one [class~=image][class~=fit]{margin-right:auto;}#one [class~=image][class~=fit]{margin-top:0;}#one [class~=image][class~=fit]{max-width:60%;}#one [class~=image][class~=fit]{-moz-flex-direction:column;}#one [class~=image][class~=fit]{-webkit-flex-direction:column;}#one [class~=image][class~=fit]{-ms-flex-direction:column;}#one [class~=image][class~=fit]{flex-direction:column;}#one [class~=image][class~=fit]{text-align:center;}}@media screen and (max-width: 480px){#one [class~=image][class~=fit]{margin-left:auto;}#one [class~=image][class~=fit]{margin-bottom:2em;}#one [class~=image][class~=fit]{margin-right:auto;}#one [class~=image][class~=fit]{margin-top:0;}#one [class~=image][class~=fit]{max-width:90%;}}.colorized{border-left-width:2.25pt;}.colorized{border-bottom-width:2.25pt;}.colorized{border-right-width:2.25pt;}.colorized{border-top-width:2.25pt;}.colorized{border-left-style:solid;}.colorized{border-bottom-style:solid;}.colorized{border-right-style:solid;}.colorized{border-top-style:solid;}.colorized{border-left-color:white;}.colorized{border-bottom-color:white;}.colorized{border-right-color:white;}.colorized{border-top-color:white;}.colorized{border-image:none;}.colorized{-webkit-animation:switch-animation 2s steps(1,start) infinite;}.colorized{animation:switch-animation 6s linear 0s infinite;}@keyframes switch-animation{0%{border-color:#f00;}8.333%{border-color:#ff8000;}16.667%{border-color:#ff0;}25.000%{border-color:#80ff00;}33.333%{border-color:#0f0;}41.667%{border-color:#00ff80;}50.000%{border-color:#0ff;}58.333%{border-color:#0080ff;}66.667%{border-color:#00f;}75.000%{border-color:#8000ff;}83.333%{border-color:#f0f;}91.667%{border-color:#ff0080;}100.00%{border-color:#f00;}}@-webkit-keyframes switch-animation{0%{border-color:#f00;}8.333%{border-color:#ff8000;}16.667%{border-color:#ff0;}25.000%{border-color:#80ff00;}33.333%{border-color:#0f0;}41.667%{border-color:#00ff80;}50.000%{border-color:#0ff;}58.333%{border-color:#0080ff;}66.667%{border-color:#00f;}75.000%{border-color:#8000ff;}83.333%{border-color:#f0f;}91.667%{border-color:#ff0080;}100.00%{border-color:#f00;}}[class~=chosen-container][class~=chosen-container-single]{width:3.125in !important;}   </style>
 </style>
    <nav class="navbar navbar-expand-lg">
   
  
  
  <a href="/profile"><img class="rounded-circle" style="width: 50px; height: 50px; margin-right: .7rem;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>?size=2048"></a>
    
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commands">Commands</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/invite"><i class="fas fa-plus"></i> Invite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support"><i class="fab fa-discord"></i>Discord</a>
      </li>   
    </ul>
       
    <ul class="navbar-right" style="margin-right: 2pc; list-style-type: none;">
   <li class="nav-item">
        <a class="nav-link text-danger" href="/logout">Logout</a>
      </li>
    </ul>
      
   
  </div>
</nav>


  
      
      <center>
      <div style="color: white; margin-top: 5pc;" >
        <h1>
          Choose a server
        </h1>
        <hr style="background-color: #AB8700; width:50px">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        </div>
       
 <div class="">
    <div style="margin-left: -10px; margin-top: 80px;  " >
                              <% let guilds = user.guilds
                              for(let x = 0; x < guilds.length; x++) {%>
          
          <%const newPerm = new Discord.Permissions(guilds[x].permissions)%>
          
          <%if(newPerm.has("MANAGE_GUILD") || newPerm.has("ADMINISTRATOR") || guilds[x].owner == true ) {%>
                              
         <div class="card-dashboard">
                
                <div class="card-body">
                  
                
                
                  
                
                  <%if(client.guilds.cache.get(guilds[x].id)) {%>
                                    <%if(!guilds[x].icon) {%>
   <a href="/dashboard/<%=guilds[x].id%>" class="card-link">
                  <img class="card-img-top mb-5 rounded-circle" src="https://media.discordapp.net/attachments/734444022235660319/745269711801155731/AATXAJw1tXvJInOnm44MdEF3kS0b8x-W4Twj27SYvJ9gRws900-c-k-c0xffffffff-no-rj-mo.png?width=677&height=677" alt="<%=guilds[x].name%>" style="
                width: 130px;
                  "></a>
                               <h5 class="card-title" id="nome"><%=guilds[x].name%></h5>
                  <hr style="background-color: #AB8700; margin-top: 40px; margin-bottom: 40px;">
 <a href="/dashboard/<%=guilds[x].id%>" class="card-link">
                      <i class="fas fa-edit"></i> Manage<% 
                      } else { %>
                  <a href="/dashboard/<%=guilds[x].id%>" class="card-link">
                    <img class="card-img-top mb-5 rounded-circle" src="https://cdn.discordapp.com/icons/<%=guilds[x].id%>/<%=guilds[x].icon%>" alt="<%=guilds[x].name%>" style="
                width: 130px; color: #1a1a1a;
                "></a>
            <h5 class="card-title" id="nome"><%=guilds[x].name%></h5>
                  <hr style="background-color: #AB8700; margin-top: 40px; margin-bottom: 40px;">
  <a href="/dashboard/<%=guilds[x].id%>" class="card-link">
                      <i class="fas fa-edit"></i> Manage
                  </a><% } %>
                  <%} else {%>
                  
                  
                  <%if(!guilds[x].icon) {%>
                <a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" target="_blank" class="card-link">
                  <img class="card-img-top mb-5 rounded-circle" src="https://media.discordapp.net/attachments/734444022235660319/745269711801155731/AATXAJw1tXvJInOnm44MdEF3kS0b8x-W4Twj27SYvJ9gRws900-c-k-c0xffffffff-no-rj-mo.png?width=677&height=677" alt="<%=guilds[x].name%>" style="
                width: 130px;
                  "></a>
                   <h5 class="card-title" id="nome"><%=guilds[x].name%></h5>
                   <hr style="background-color: #AB8700; margin-top: 40px; margin-bottom: 40px;">
    <a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" class="card-link">
                      <i class="fas fa-plus"></i> Invite
                  </a>
                  <%} else {%>
                  <a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" class="card-link">
                    <img class="card-img-top mb-5 rounded-circle" src="https://cdn.discordapp.com/icons/<%=guilds[x].id%>/<%=guilds[x].icon%>" alt="<%=guilds[x].name%>" style="
                width: 130px;
                "></a>
                                 <h5 class="card-title" id="nome"><%=guilds[x].name%></h5>
                 <hr style="background-color: #AB8700; margin-top: 40px; margin-bottom: 40px;">
<a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" class="card-link">
                      <i class="fas fa-plus"></i> Invite
                  </a> <%}%>
                    
                  
                  <%}%>
              </div>
            </div>
          
          <%}%>
                    
          <%}%>
        </div>
        
        
         <div>
    

  </div>
</div>
    
                  
                

                                      
          
          
  <script language="JavaScript">
      
       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
//edit: removed ";" from last "}" because of javascript error
</script>
  
  </body>
</html>